::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #091020;
}

::-webkit-scrollbar-thumb {
  background: #FD4766;
}

.whiteimg {
  filter: invert(100%);
}

.card {
  box-shadow: 0 0.5rem 0.6rem rgba(222, 218, 218, 0.3);
  cursor: pointer;
}